# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/

# Test coverage reports
htmlcov/
.coverage
.tox/
.nox/

# Secrets
.env
*.secret

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db
